<div class="container-fluid sticky-top" >
<h1 font-size= "roboto"> Stupid Coaching </h1>
<form class="form-floating mb-3" action="/answer" data-turbo="false" background-color = "$teal-200">
  <input type="text" name="question" class="form-control" id="floatingInput" placeholder="Your smart question">
  <label for="floatingInput">Please ask a smart question</label>
  <button type="submit" class="btn btn-primary" data-bs-toggle="popover" title="Smart or Stupid?" data-bs-content="Are you sure you want to submit this stupid answer?">Ask</button>
</form>
</div>
